body{
    justify-content: center;
    position:fixed;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/img/neon.jpg");
    background-position-x: center;
    background-position-y: 100vh;
    background-size: cover;
    margin-left: -10px;
    margin-top: -10px;
}

h1, h2{
    color:#fff;
}

main {
    background-color: rgb(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-gap: 0px;
    justify-content: center;
    margin:auto;
}

app-square {
    height: 110px;
    border-radius: 20px;
    margin:5px;
}

.btn:focus {
    box-shadow:none;
}
.neonText {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
  }

  .btnColor{
    mix-blend-mode: color-dodge
  }
  
  /* Flickering animation */
  @keyframes flicker {
      
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px rgb(89, 0, 255),
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
  
  

 